body {
    display: flex;
    justify-content: center;
    font-family: mk3;
    background-image: url(spiral.jpg);
    color: white;
    text-shadow: 2px 5px #000000;
}

header {
    text-align: center;
    font-size: 4vh;
    color: white;
    text-shadow: 2px 5px #000000;
}

#container {
    margin-top: 10%;
    height: 55vh;
    width: 100vh;
    background-color:rgb(46, 123, 187);
    border-radius: 3vh;
    background-image: url(rock.jpg);
}


#buttonsContainer {
    
}

#btnDivs {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
  
}

.btnContainer {
    /* background-color: white; */
    padding: 3vh;
    margin: 1vh;
}

#destiny {
    text-align: center;
    padding: 3vh 0 0 0;
    font-size: 4vh;
}

button {
    background-size: cover;
    height: 20vh;
    width: 20vh;
    border-radius: 3vh;
    transition: all .2s ease-in-out;
    border: .3vh solid black
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2pt black;
}


#rock {
    
    background-color: #733f68;
    
    background-image: url(rock.png);
}

#paper {
    background-color: #51733F;
    background-image: url(paper.png);
}

#scissors {
    background-color: #51733F;
    background-image: url(scissors.png);
}

.choice {
    text-align: center;
}

#tally {
    display: flex;
    justify-content: space-around;
}

#results {
    text-align: center;
}

@font-face {
    font-family: mk3;
    src: url(mortalkombat3.ttf )
}