body {
    display: flex;
    justify-content: center;
    font-family: mk3;
    background-image: url(spiral.jpg);
    color: white;
    text-shadow: 2px 5px #000000;
}

header {
    text-align: center;
    font-size: 4vh;
    color: white;
    text-shadow: 2px 5px #000000;
}

#container {
    margin-top: 7%;
    height: 65vh;
    width: 100vh;
    background-color: rgb(161, 242, 255, .75);
    border-radius: 3vh;
    border: .3vh solid black;
}


#buttonsContainer {
    text-shadow: 2px 3px #000000;
}

#btnDivs {
    display: flex;
    justify-content: center;
  
}

.btnContainer {
    padding: 3vh;
    margin: 1vh;
}

#destiny {
    text-align: center;
    padding: 3vh 0 0 0;
    font-size: 4vh;
}

button {
    background-size: cover;
    height: 20vh;
    width: 20vh;
    border-radius: 3vh;
    transition: all .2s ease-in-out;
    border: .3vh solid black
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2pt black;
}

#rock {
    background-color: rgb(243, 112, 66);
    background-image: url(rock.png);
}

#paper {
    background-color: rgb(0, 168, 120);
    background-image: url(paper.png);
}

#scissors {
    background-color: rgb(255, 105, 98);
    background-image: url(scissors.png);
}

.choice {
    text-align: center;
    font-size: 2.2vh;
}

#tally {
    display: flex;
    justify-content: space-around;
    font-size: 2.2vh;
    
}

#results {
    text-align: center;
}

#resultsContainer {
    text-shadow: 2px 3px #000000;
}

#playerWins, #computerLosses {
    text-shadow: 2px 2px #000000;
}

@font-face {
    font-family: mk3;
    src: url(mortalkombat3.ttf )
}